<!-- Tally cards load if there are any -->
<section
  *ngIf="users.length > 0; else noCards"
>
  <ion-card
    class="ion-card-custom"
    *ngFor="let user of users; let i = index;"
    (click)="increaseCount($event,i)"
    button="true"
  >
    <ion-item [attr.data-count]="user.count">
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>{{ user.title }}</ion-label>
      <section class="tally-info-count" [attr.data-count]="user.count">
        {{ user.count }} {{displayProfileForm}}
      </section>
      <ion-button
        fill="outline"
        slot="end"
        class="info-button"
        (click)="goToStats($event,i)"
      >
        <ion-icon name="information-outline"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-label>{{ user.created }} </ion-label>
    </ion-item>
  </ion-card>
</section>
<ion-icon name="heart"></ion-icon>

<ng-template #noCards>
  <ion-item>
    <ion-label class="no-userData-title">
      You do not have any tally cards
    </ion-label>

    <ion-label class="no-userData-subtext">
      click the + and add one!
    </ion-label>

    <ion-buttons slot="end">
      <ion-button id="addProileButton" onClick="toggleText()">
        <ion-icon
          slot="start"
          name="add-outline"
          id="addProfileIcon"
        ></ion-icon>
      </ion-button>
    </ion-buttons>

    <app-profile-form *ngIf="displayProfile"></app-profile-form>
  </ion-item>
</ng-template>
